nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  border-bottom-width: 75%;

  display: flex;
  justify-content: right;
  gap: 2rem;
}

nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 2rem;
  text-align: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.my-contacts {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.my-contacts .icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.my-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 3rem;
}

.my-stack .row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  max-width: 18rem;
}

.my-stack .icon svg {
  width: 2.5rem;
  height: 2.5rem;
}

.my-projects {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  gap: 4rem;
}

.my-projects > div {
  display: flex;
  justify-content: space-between;
}

.my-projects img {
  width: 20rem;
}
